/* Don't have a pressed-in look for bookmark icons as they already have a "filled" icon */
.bookmark-button:checked {
  box-shadow: none;
}

.bookmark-button:checked:hover {
  box-shadow: inset 0 0 0 1px var(--borders);
}

/* Mostly copied from Elastic https://gitlab.gnome.org/World/elastic/-/blob/476c2a1dc7aac30fa25ec105a9e9fa5b3d069d52/src/style-hc.css#L5 */
.toggle-group {
  box-shadow: inset 0 0 0 1px var(--borders);
}

.toggle-group .toggle:checked {
  box-shadow: inset 0 0 0 1px var(--borders),
              0 1px 3px 1px #00000011,
              0 2px 6px 2px #00000008;
}

